header.header-principal{
    
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 96px;
        
    }
    img{
        width: 235px;
        height: 45px;
    }
    &::before{
        content: "";
        width: 32px;
        height: 4px;
        background-color: $pink;
        position: absolute;
        top: 65px;
        right: 751px;
    }
        
        

    

    
}